@model IEnumerable<VS1_Ignatova.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Пользователи</li>
    </ol>
</nav>
<h2>Пользователи</h2>

<h6>
    <a class="text-dark" asp-action="Create">
        <i class="far fa-plus-square"></i>  Добавить пользователя
    </a>
</h6>

<div class="table-responsive">
    <table class="table table-bordered text-nowrap table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <a class="btn text-dark" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать">
                            <i class="fas fa-pencil-alt"></i>
                        </a> |
                        <a class="btn text-dark" asp-action="ChangePassword" asp-route-id="@item.Id" title="Сменить пароль">
                            <i class="fas fa-key"></i>
                        </a> |
                        <a class="btn text-dark" asp-action="EditRoles" asp-route-userid="@item.Id" title="Права доступа">
                            <i class="fas fa-user-tag"></i>
                        </a> |
                        <a class="btn text-dark" asp-action="Delete" asp-route-id="@item.Id" title="Удалить">
                            <i class="far fa-minus-square"></i>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
